.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(100vh - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: 0.5s;
}
@keyframes loader {
0%{
transform: scale(0);
    opacity: 0;
}
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }

}
body,html{
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
.logo{
    margin-left: 40px;
    height: 35px;
}
.nav-link{
    color: black;
    font-family: "Rockwell Nova";
    font-size: 16px;
    font-style: normal;
    margin-left: 50px;
    position: center;
}

.btn-raised{
    position: absolute;
    bottom: 175px;
    left: 530px;
    width: 500px;
    background: rgb(29,207,0);
    background: linear-gradient(90deg, rgba(29,207,0,1) 0%, rgba(8,152,0,1) 53%, rgba(23,165,0,1) 100%);
    opacity: 73%;
    z-index: +1;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(40,20,20, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(40,20,20);
}

li:hover > a{
   color: #02703C;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}


.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
    background: #16B515;
    color: white;
}
.dropdown-menu > li.show > a {
    color: white;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}
video{
    width: 1519.5px;
    height: 857px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 40px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #fff;
    text-decoration: none;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
#rectangle_about{
    text-align: center;
    background: url("farm.png") no-repeat;
    background-size: cover;
    height: 600px;

}
#text_image{
    font-size: 20px;
    color: white;
    line-height: 50px;
    padding-top: 100px;
}
#text_image1{
    font-size: 20px;
    color: white;
    padding-top: 110px;
}
#text_image1 .btn-courses{
    line-height: 40px;
    margin-top: 60px;
    background: #4BC626;
    opacity: 100%;
    border-radius: 10px;
    z-index: +1;
    font-size: 21px;
    color: white;
    width: 300px;
    height: 45px;
}
.brands {
    color: #313437;
    background-color: #fff;
}
.brands a .imgLogo {
    display: inline-block;
    vertical-align: middle;
}
.brands a {
    display: block;
    text-align: center;
}
.imgLogo {
    vertical-align: middle;
    border-style: none;
    width: 170px;
    height: 120px;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.contact-clean{
    background-image: url("contact.jpg");
}
.wrapper {
    text-align: center;
}

.contact_form_blocks {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.contact_form {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    text-align: left;
}
.form_top {
    margin-top: 70px;
    padding: 0 10%;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #fff;
}
.form_top h3 {
    padding: 0 0 10px;
    display: inline-block;
    color: black;
    font-size: 36px;
    font-family: Arial;
    color: white;
}
.form_bottom {
    padding: 24px 0 113px;
    width: 100%;
    display: inline-block;
}
.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}
.form_bottom form {
    width: 100%;
    display: inline-block;
}

.input-box {
    padding: 11px 0 11px;
    width: 100%;
    display: inline-block;
}
.input-box .input-inner {
    width: 100%;
    display: inline-block;
}
.wpcf7-form-control-wrap {
    position: relative;
}
.input-box .input-inner .input-text {
    font-family: 'Times New Roman';
    font-size: 16px;
    padding: 0 17px;
    background: #ffffff;
    border-radius: 10px;
    height: 56px;
    border: #fff solid 1px;
    width: 100%;
    display: inline-block;
}
.input-box .input-inner textarea.input-text {
    line-height: 1.71;
    padding-top: 15px;
    resize: none;
    height: 240px;
}
.input-submit button {
    font-family: 'Times New Roman';
    width: 233px;
    height: 50px;
    border: 0px;
    background: linear-gradient(90deg, rgba(29,207,0,1) 0%, rgba(8,152,0,1) 53%, rgba(23,165,0,1) 100%);
    color: white;
    position: relative;
    font-size: 18px;

}
.input-submit {
    padding: 30px 0 0 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}