body{
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}
.logo{
    margin-left: 40px;
}
.nav-link{
    color: black;
    font-family: "Rockwell Nova";
    font-size: 16px;
    font-style: normal;
    margin-left: 50px;
    position: center;
}

li:hover > a{
    color: #02703C;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}


.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
    background: #16B515;
    color: white;
}
.dropdown-menu > li.show > a {
    color: white;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}
.box{
    margin-right: 50px;
    width: 350px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}
.box > i{
    font-size: 20px;
    color: #777;
}
.box > input{
    flex: 1;
    height: 23px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}
.card{
    width: 25rem;
    height: 30rem;
    margin-left: 40px;
    margin-top: 60px;
}
.card-title{
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
    cursor: pointer;
}
.card-text{
    text-align: left;
    font-family: "Times New Roman";
    font-size: 18px;

}
.text{
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 18px;
}
#background_image{
    background: url("../barn.jpg");
    height: 800px;
    margin-bottom: 80px;
}
#background_image h5{
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    color: white;
    padding-top: 400px;
}

.site-footer {
    margin-top: 30px;
    background-color: #26272b;
    padding: 45px 0 40px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);

}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #fff;
    text-decoration: none;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
/* Bootstrap 4 text input with search icon */


